<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @orden.name %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @orden.cantidad %>
</p>

<p>
  <strong>Numero:</strong>
  <%= @orden.numero %>
</p>

<%= link_to 'Edit', edit_orden_path(@orden) %> |
<%= link_to 'Back', ordens_path %>

<br>
<%= link_to 'nuevo recurso', new_orden_recurso_orden_path(@orden), remote:true%>

<br>
<div id="form-recurso" hidden></div>

<table>
	<thead>
		<th></th>
		<th></th>
	</thead>
	<tbody id="recursos-ordenes">
		<% @orden.recurso_ordens.each do |r| %>

			<%= render '/recurso_ordens/rows', r: r%>
		<% end %>
	</tbody>
</table>