<%= form_for [@orden ,@recurso_orden], remote:true do |f| %>
  <% if @recurso_orden.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recurso_orden.errors.count, "error") %> prohibited this recurso_orden from being saved:</h2>

      <ul>
      <% @recurso_orden.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :talla %><br>
    <%= f.text_field :talla %>
  </div>
  <div class="field">
    <%= f.label :cantidad %><br>
    <%= f.text_field :cantidad %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
