<p id="notice"><%= notice %></p>

<p>
  <strong>Talla:</strong>
  <%= @recurso_orden.talla %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @recurso_orden.cantidad %>
</p>

<p>
  <strong>Orden:</strong>
  <%= @recurso_orden.orden %>
</p>

<%= link_to 'Edit', edit_recurso_orden_path(@recurso_orden) %> |
<%= link_to 'Back', recurso_ordens_path %>
